.btn {
  display: block;
  padding: 10px;
  border: none;
  background-color: $bg-green;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: $primary-font;
  line-height: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $bg-gree-dark;
  }

  &:active {
    background-color: $bg-gree-dark;
    color: rgba($white, 0.3);
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 0.3;
    }
  }

  &--gray {
    background-color: $bg-gray;
    color: $text-dark-gray;

    &:hover,
    &:focus {
      background-color: $bg-light-gray;
    }

    &:active {
      background-color: $bg-light-gray;
      color: rgba($text-dark-gray, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .btn {
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }
}
