.catalog__list {
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}


@media ($tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -60px;
  }

  .catalog__item {
    margin-right: 60px;
    margin-bottom: 60px;
  }
}
