.catalog {
  margin: 0 auto;
  min-width: 320px;
}

.catalog__title {
  padding: 0 20px;
  margin-bottom: 28px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  border-top: 1px solid $border-gray-light;
  list-style: none;
}

.catalog__item {
  padding: 0 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-gray-light;
}


@media ($tablet-width) {
  .catalog {
    padding: 0 30px;
    width: 768px;
  }

  .catalog__title {
    padding: 0;
    margin-bottom: 87px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    align-items: flex-end;
  }

  .catalog__item {
    padding: 0;
    margin-bottom: 62px;
    border: none;

    &:nth-last-child(2),
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

@media ($desktop-width) {
  .catalog {
    padding: 0 40px;
    width: 1300px;
  }

  .catalog__title {
    margin-bottom: 88px;
  }

  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__item {
    margin-right: 80px;
    margin-bottom: 66px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(2),
    &:nth-last-child(1) {
      margin-bottom: 66px;
    }
  }
}
