.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
}

@media ($tablet-width) {
  .container {
    max-width: 768px;
  }
}

@media ($desktop-width) {
  .container {
    max-width: 1300px;
  }
}
