.container {
  margin-right: auto;
  margin-left: auto;
  width: 320px;
}

@media ($tablet-width) {
  .container {
    width: 768px;
  }
}

@media ($desktop-width) {
  .container {
    width: 1300px;
  }
}
