.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  color: $text-black;
  text-transform: uppercase;
  font-size: 16px;
  font-family: $primary-font;
  line-height: 20px;
}

.controls__range {
  position: relative;
  margin-right: 18px;
  margin-left: 19px;
  padding: 3px 5px;
  width: 84px;
  height: 14px;
  border: 1px solid $border-gray;
  border-radius: 6px;
  background-color: $white;
}

.controls__bar {
  width: 50%;
  height: 6px;
  border-radius: 5px;
  background-color: $bg-green;
}

.controls__toggle {
  position: absolute;
  display: none;
  width: 34px;
  height: 34px;
  border: 1px solid $border-gray;
  border-radius: 50%;
  background-color: $bg-green;
  box-shadow: inset
    0 0 0 12px $white,
    0 2px 5px rgba($black, 0.15);
  cursor: pointer;

  &:hover {
    box-shadow: inset
      0 0 0 12px $white,
      0 3px 5px rgba($black, 0.25);
  }

  &:active {
    border: 2px solid $bg-green;
    box-shadow: inset
      0 0 0 11px $white,
      0 4px 5px rgba($black, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .controls {
    align-items: flex-end;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .controls__toggle {
    top: -14px;
    left: 197px;
    display: block;
  }

  .controls__range {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 12px;
    margin-left: 23px;
    padding: 0;
    width: 428px;
    height: 6px;
    border: none;
    border-radius: 3px;
    background-color: $bg-gray-dark;
  }

  .controls__label {
    padding-bottom: 5px;
    border-bottom: 1px dotted $border-light-gray;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom-color: rgba(0, 0, 0, 0);
    }
  }

  .controls__bar {
    display: none;
  }
}
