.custom-text-field {
  display: flex;
  align-items: baseline;
}

.custom-text-field__input {
  flex-grow: 1;
  border: 1px solid #f2f2f2;
  padding: 13px 15px;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  min-width: 172px;
}

.custom-text-field__input:hover {
  border-color: #cdcdcd;
}

.custom-text-field__input:focus {
  border: 2px solid #444444;
  padding: 12px 14px;
}

@media ($tablet-width) {
  .custom-text-field__input {
    padding: 15px 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .custom-text-field__input:focus {
    padding: 14px 19px;
  }
}
