.custom-text-field {
  position: relative;
  display: flex;
  align-items: baseline;
}

.custom-text-field__input {
  flex-grow: 1;
  padding: 13px 15px;
  padding-bottom: 12px;
  min-width: 172px;
  outline: none;
  border: 1px solid rgba($border-gray, 0.5);
  color: $text-dark-gray;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  &:hover {
    border-color: $border-gray;
  }

  &:focus {
    padding: 12px 14px;
    padding-bottom: 11px;
    border: 2px solid $text-dark-gray;

    & + .custom-text-field__icon {
      fill: $bg-green;
    }
  }


  &--required {
    padding: 12px 14px;
    padding-bottom: 11px;
    border: 2px solid $form-invalid-color;

    & + .custom-text-field__icon {
      fill: $form-invalid-color;
    }

    &:focus {
      border-color: $form-invalid-color;
    }
  }
}

.custom-text-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--mail {
    right: 16px;

    @media (min-width: $tablet-width) {
      right: 20px;
    }
  }

  &--phone {
    right: 13px;

    @media (min-width: $tablet-width) {
      right: 17px;
    }

    @media (min-width: $desktop-width) {
      right: 20px;
    }
  }
}


@media (min-width: $tablet-width) {
  .custom-text-field__input {
    padding: 15px 20px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;

    &:focus {
      padding: 14px 19px;
    }
  }
}
