// example
.example {
  background-color: $bg-gray;
}

.example__wrapper {
  margin: 0 auto;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 36px;
  width: 320px;
}

.example__desc {
  margin-bottom: 33px;
  padding: 0 20px;
}

.example__title {
  margin-bottom: 23px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 14px;
  color: $text-dark-gray;
  font-size: 14px;
  line-height: 18px;
}

.example__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__stat {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  width: 124px;
  border: 1px solid $border-gray;
  border-radius: 3px;
  color: $text-black;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: $primary-font;
  line-height: 24px;
}

.example__stat-caption {
  position: absolute;
  bottom: -16px;
  left: 50%;
  display: inline-block;
  padding-right: 16px;
  padding-left: 16px;
  background-color: $bg-gray;
  color: $text-dark-gray;
  text-align: center;
  text-transform: none;
  font-size: 12px;
  font-family: $secondary-font;
  line-height: 12px;
  transform: translateX(-50%);
}

.example_cost {
  flex-grow: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: $primary-font;
  line-height: 20px;
}

.example__picture {
  margin: 0;
  margin-bottom: 28px;
}

.example__image {
  display: block;
}

.example__controls {
  padding-right: 48px;
  padding-left: 56px;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    background-color: transparent;

    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      z-index: -1;
      display: block;
      height: 462px;
      content: "";
    }

    &::before {
      right: 50%;
      left: 0;
      background-color: $bg-gray;
    }

    &::after {
      right: 0;
      left: 50%;
      background-color: $bg-gray-onemore;
    }
  }

  .example__wrapper {
    padding-top: 43px;
    padding-bottom: 67px;
    width: 768px;
  }

  .example__desc {
    margin: 0;
    margin-bottom: 88px;
    padding: 0 30px;
  }

  .example__title {
    margin: 0;
    margin-bottom: 64px;
  }

  .example__text {
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .example__stat {
    margin: 0;
    margin-right: 42px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 18px;
    width: 162px;
    font-size: 30px;
    line-height: 37.02px;
  }

  .example__stat-caption {
    right: 0;
    bottom: -7px;
    left: 0;
    margin-right: 8px;
    margin-left: 8px;
    padding: 0;
    padding-right: 8px;
    padding-left: 8px;
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
    transform: translateX(0%);
  }

  .example_cost {
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  .example__price {
    display: block;
  }

  .example__before-after {
    padding-right: 30px;
    padding-left: 30px;
  }

  .example__image {
    margin-right: auto;
    margin-left: auto;
    width: 677px;
  }

  .example__picture {
    margin: 0;
    margin-bottom: 25px;
  }
}


@media (min-width: $desktop-width) {
  .example {
    padding-bottom: 39px;

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    width: 1300px;
  }

  .example__stat-caption {
    background-color: $bg-gray;
  }
}
