// example
.example {
  background-color: $bg-gray;
}

.example__wrapper {
  margin: 0 auto;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 36px;
  width: 320px;
}

.example__desc {
  margin-bottom: 33px;
  padding: 0 20px;
}

.example__title {
  margin-bottom: 23px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 14px;
  color: $text-dark-gray;
  font-size: 14px;
  line-height: 18px;
}

.example__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__stat {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  width: 124px;
  border: 1px solid $border-gray;
  border-radius: 3px;
  color: $text-black;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: $primary-font;
  line-height: 24px;
}

.example__stat-caption {
  position: absolute;
  bottom: -16px;
  left: 50%;
  display: inline-block;
  padding-right: 16px;
  padding-left: 16px;
  background-color: $bg-gray;
  color: $text-dark-gray;
  text-align: center;
  text-transform: none;
  font-size: 12px;
  font-family: $secondary-font;
  line-height: 12px;
  transform: translateX(-50%);
}

.example_cost {
  flex-grow: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: $primary-font;
  line-height: 20px;
}

.example__preview {
  margin: 0;
  margin-bottom: 40px;
  position: relative;
  height: 232px;
}

.example__picture {
  margin: 0;
  position: absolute;
  overflow: hidden;

  &--after {
    display: none;
  }
}

.example__image {
  display: block;
}


@media (min-width: $tablet-width) {
  .example {
    background-color: transparent;
  }

  .example__wrapper {
    position: relative;
    padding-top: 43px;
    padding-bottom: 71px;
    width: 768px;

    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      z-index: -1;
      display: block;
      height: 462px;
      content: "";
    }

    &::before {
      right: 50%;
      left: 0;
      background-color: $bg-gray;
    }

    &::after {
      right: 0;
      left: 50%;
      background-color: $bg-gray-onemore;
    }
  }

  .example__desc {
    margin: 0;
    margin-bottom: 86px;
    padding: 0 30px;
  }

  .example__title {
    margin: 0;
    margin-bottom: 64px;
  }

  .example__text {
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .example__stat {
    margin: 0;
    margin-right: 42px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 18px;
    width: 162px;
    font-size: 30px;
    line-height: 37.02px;
  }

  .example__stat-caption {
    right: 0;
    bottom: -7px;
    left: 0;
    margin-right: 8px;
    margin-left: 8px;
    padding: 0;
    padding-right: 8px;
    padding-left: 8px;
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
    transform: translateX(0%);
  }

  .example_cost {
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  .example__price {
    display: block;
  }

  .example__before-after {
    padding-right: 30px;
    padding-left: 30px;
  }

  .example__preview {
    position: relative;
    width: 100%;
    min-height: 517px;
    margin-bottom: 17px;
  }

  .example__image {
    margin-left: 16px;
    max-width: 690px;
  }

  .example__picture {
    margin: 0;
    display: flex;

    &--before {
      width: 354px;
      left: 0;
    }

    &--after {
      width: 354px;
      justify-content: flex-end;
      right: 0;

      .example__image {
        margin-right: 2px;
      }
    }
  }
}


@media (min-width: $desktop-width) {
  .example {
    padding-top: 21px;

    overflow-x: hidden;
  }

  .example__wrapper {
    padding: 0;
    padding-bottom: 71px;
    display: flex;
    justify-content: space-between;

    padding-left: 40px;
    width: 1300px;

    &::before {
      left: -2000px;
      right: 0;
    }

    &::after {
      right: -2000px;
      left: 975px;
    }
  }

  .example__desc {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-right: 135px;
    width: 570px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__text {
    padding: 0;
    margin-bottom: 68px;
  }

  .example__before-after {
    padding: 0;
    width: 690px;
  }

  .example__preview {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 38px;
  }

  .example__image {
    padding: 0;
    margin: 0;
  }

  .example__picture {
    margin: 0;
    padding: 0;
    width: 690px;
    overflow: hidden;

    &--before {
      width: 365px;

      .example__image {
        margin: 0;
      }
    }

    &--after {
      width: 325px;

      .example__image {
        margin: 0;
      }
    }
  }


  .example__stats {
    justify-content: flex-start;
  }

  .example__stat {
    margin-right: 42px;
    margin-bottom: 61px;
  }

  .example__stat-caption {
    background-color: $bg-gray;
  }

  .example_cost {
    display: flex;
    flex-wrap: wrap;

    span {
      margin-right: 64px;
    }
  }

  .example__controls {
    margin-left: 40px;
  }
}
