// features
.features {
  @include container;
}

.features__title {
  margin-bottom: 35px;
}

.features__list {
  list-style: none;
  padding: 0;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.features__item {
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.features__item::before {
  content: "";
  display: block;
  width: 60px;
  min-width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.features__item--nutrients::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.features__item--cooking::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.features__item--meal::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.features__item--results::before {
  background-image: url("../img/advantage-clock@1x.png");
}

.features__number {
  display: none;
}

.features__desc {
  margin: 0;
}

@media ($tablet-width) {
  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .features__item {
    display: block;
    width: 325px;
    margin-bottom: 139px;
  }

  .features__item::before {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .features__number {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    display: block;
    position: absolute;
    z-index: -1;
    top: -26px;
    left: 124px;
  }
}

@media ($tablet-width) {
  .features__item {
    width: 245px;
  }
}
