// logotype
.logotype {
  display: block;
  width: 191px;
  height: 38px;


  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media ($tablet-width) {
  .logotype {
    width: 173px;
    height: 58px;
  }
}

@media ($desktop-width) {
  .logotype {
    width: 202px;
    height: 59px;
  }
}
