.main-content__promo {
  margin-bottom: 22px;
}

.main-content__purpose {
  margin-bottom: 17px;
}

.main-content__catalog {
  margin-bottom: 28px;
  padding-top: 15px;
}

.main-content__optional-catalog {
  margin-bottom: 35px;
}

.main-content__request-form {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .main-content__request-form {
    margin-bottom: 72px;
  }

  .main-content__catalog {
    margin-bottom: 67px;
    padding-top: 58px;
  }

  .main-content__purpose {
    margin-bottom: 45px;
  }

  .main-content__optional-catalog {
    margin-bottom: 75px;
  }

  .main-content__title {
    margin: 0 auto;
    padding: 0 30px;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-content__request-form {
    margin: 0;
    margin-bottom: 82px;
  }

  .main-content__purpose {
    margin-bottom: 73px;
  }

  .main-content__catalog {
    margin-bottom: 9px;
    padding-top: 75px;
  }

  .main-content__title {
    margin: 0 auto;
    padding: 0 40px;
    width: 1300px;
  }

  .main-content__optional-catalog {
    margin-bottom: 86px;
  }
}
