// main-footer
.main-footer {
  background-color: $bg-gray;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 39px;
  padding-bottom: 22px;
  padding-left: 20px;
  min-width: 320px;
  background-color: $bg-gray;

  @include container;
}

.main-footer__contacts {
  background-color: $white;
}

.main-footer__logo {
  margin-bottom: 22px;
  padding-bottom: 27px;
  border-bottom: 1px solid $border-light-gray;
  text-align: center;
}

.main-footer__social {
  margin-bottom: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid $border-light-gray;
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media ($tablet-width) {
  .main-footer__wrapper {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 30px;
    min-width: 768px;
  }

  .main-footer__logo {
    margin: 0;
    padding: 0;
    border: none;
  }

  .main-footer__social {
    margin: 0;
    padding: 0;
    border: none;
  }

  .main-footer__copyright {
    margin: 0;
    padding: 0;
    border: none;
  }
}

@media ($desktop-width) {
  .main-footer__wrapper {
    padding: 60px 40px;
    width: 1300px;
  }
}
