.main-content__promo {
  margin-bottom: 22px;
}

.main-content__purpose {
  margin-bottom: 17px;
}

.main-content__catalog {
  padding-top: 15px;
  margin-bottom: 28px;
}

.main-content__optional-catalog {
  margin-bottom: 35px;
}

.main-content__title {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}


@media ($tablet-width) {
  .main-content__catalog {
    padding-top: 58px;
    margin-bottom: 67px;
  }

  .main-content__purpose {
    margin-bottom: 45px;
  }

  .main-content__optional-catalog {
    margin-bottom: 75px;
  }

  .main-content__title {
    margin: 0 auto;
    padding: 0 30px;
    width: 768px;
  }
}

@media ($desktop-width) {
  .main-content__purpose {
    margin-bottom: 73px;
  }

  .main-content__catalog {
    padding-top: 75px;
    margin-bottom: 9px;
  }

  .main-content__title {
    margin: 0 auto;
    padding: 0 40px;
    width: 1300px;
  }

  .main-content__optional-catalog {
    margin-bottom: 86px;
  }
}
