// main-header
.main-header {
  padding-top: 11px;
}

@media ($tablet-width) {
  .main-header {
    padding-top: 24px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media ($desktop-width) {
  .main-header {
    padding-top: 54px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
