// page-title
.page-title {
  color: $text-black;
  font-weight: 400;
  font-size: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 60px;
}

@media ($tablet-width) {
  .page-title {
    font-size: 60px;
  }
}
