//
.product-optional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid $border-gray;

  &:first-child {
    border-top: 1px solid $border-gray;
  }
}

.product-optional__title {
  margin: 0;
  margin-bottom: 13px;
  padding-left: 1px;
  width: 100%;
  color: $text-light-black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: $primary-font;
  line-height: 16px;
}

.product-optional__desc {
  margin: 0;
  margin-bottom: 14px;
  color: $text-dark-gray;
  font-size: 14px;
  line-height: 14px;
}

.product-optional__price {
  margin: 0;
  margin-bottom: 14px;
  color: $text-dark-gray;
  font-size: 14px;
  line-height: 14px;
}

.product-optional__order-btn {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .product-optional {
    padding-top: 25px;
    padding-right: 36px;
    padding-bottom: 27px;
    padding-left: 37px;
    border: 1px solid rgba($border-gray, 0.5);

    &:first-child {
      border-color: rgba($border-gray, 0.5);
    }
  }

  .product-optional__title {
    margin: 0;
    margin-right: auto;
    width: 285px;
    font-size: 20px;
    line-height: 20px;
  }

  .product-optional__desc {
    margin: 0;
    margin-top: 5px;
    width: 190px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .product-optional__price {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 21px;
    width: 95px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .product-optional {
    align-items: baseline;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid $border-gray;

    &:first-child {
      border-color: $border-gray;
    }
  }

  .product-optional__title {
    margin: 0;
    width: 285px;
  }

  .product-optional__desc {
    margin: 0;
    width: 205px;
    text-align: left;
  }

  .product-optional__price {
    margin: 0;
    width: auto;
  }

  .product-optional__order-btn {
    width: 245px;
  }
}
