
.product__link {
  text-decoration: none;
}

.product__picture {
  width: 140px;
  height: 144px;
}

.product__title {
  color: #111111;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
}
