//
.product-optional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
}

.product-optional__title {
  margin: 0;
  margin-bottom: 14px;
  width: 100%;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 16px;
}

.product-optional__desc {
  margin: 0;
  margin-bottom: 14px;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.product-optional__price {
  margin: 0;
  margin-bottom: 14px;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.product-optional__order-btn {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

@media ($tablet-width) {
  .product-optional {
    padding: 27px 37px;
    border: 1px solid rgba(#cdcdcd, 0.5);
  }

  .product-optional__title {
    margin-right: auto;
    margin-bottom: 20px;
    width: 285px;
    font-size: 20px;
    line-height: 20px;
  }

  .product-optional__desc {
    margin-bottom: 20px;
    width: 190px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .product-optional__price {
    margin-bottom: 20px;
    margin-left: 5px;
    width: 95px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}

@media ($desktop-width) {
  .product-optional {
    align-items: center;
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-optional__title {
    margin: 0;
    width: 285px;
  }

  .product-optional__desc {
    margin: 0;
    width: 205px;
    text-align: left;
  }

  .product-optional__price {
    margin: 0;
    width: auto;
  }

  .product-optional__order-btn {
    width: 245px;
  }
}
