// promo
.promo {
  margin-bottom: 22px;
  padding-top: 30px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
}

.promo__title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
}

.promo__text {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.promo__picture {
  margin: 0;
  width: 280px;
  height: 270px;
}

.promo__btn {
  padding: 11px;
  font-size: 14px;
  line-height: 18px;
}


@media ($tablet-width) {
  .promo {
    position: relative;
    margin-bottom: 0;
    padding-top: 60px;
    padding-right: 120px;
    padding-left: 120px;
    background-image: none;

    text-align: left;
  }

  .promo__title {
    margin-bottom: 35px;
    width: 450px;
    color: #111111;
    line-height: 60px;
  }

  .promo__text {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  .promo__picture {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    width: 709px;
    height: 609px;
    transform: translateX(-50%);
  }

  .promo__btn {
    display: inline-block;
    margin-bottom: 530px;
    padding: 16px;
    min-width: 245px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media ($desktop-width) {
  .promo {
    margin-bottom: 80px;
  }

  .promo__picture {
    top: 30px;
    left: 50%;
    width: 552px;
    height: 499px;
    transform: translateX(-160px);
  }

  .promo__btn {
    margin-bottom: 188px;
  }
}
