// promo
.promo__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 27px;
  width: 320px;
}

.promo {
  position: relative;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: block;
    height: 305px;
    background-color: #65a93c;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    content: "";

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  color: $white;
  font-weight: 400;
  line-height: 36px;
}

.promo__text {
  margin: 0;
  margin-bottom: 28px;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

.promo__picture {
  margin: 0;
  margin-bottom: 4px;
  width: 280px;
  height: 270px;
}

.promo__btn {
  padding: 11px;
  font-size: 14px;
  line-height: 18px;
}


@media ($tablet-width) {
  .promo__wrapper {
    padding: 0 90px;
    padding-top: 58px;
    padding-bottom: 507px;
    width: 768px;
  }

  .promo {
    position: relative;
    background-image: none;
    text-align: left;

    &::before {
      display: none;
    }
  }

  .promo__title {
    margin-bottom: 41px;
    width: 450px;
    color: $text-black;
    line-height: 60px;
  }

  .promo__text {
    margin-bottom: 48px;
    color: $text-black;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__picture {
    position: absolute;
    top: 259px;
    left: 50%;
    z-index: -1;
    width: 709px;
    height: 609px;
    transform: translateX(-50%);
  }

  .promo__btn {
    display: inline-block;
    padding: 16px;
    min-width: 245px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media ($desktop-width) {
  .promo__wrapper {
    padding: 0 80px;
    padding-top: 109px;
    padding-bottom: 246px;
    width: 1300px;
  }

  .promo {
    margin-bottom: 80px;
  }

  .promo__text {
    margin-bottom: 53px;
  }

  .promo__picture {
    top: 30px;
    left: 50%;
    width: 552px;
    height: 499px;
    transform: translateX(-160px);
  }
}
