// purpose
.purpose__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
}

.purpose__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.purpose__item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: $bg-gray;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 24px;
    left: 22px;
    border-radius: 50%;
    background-color: $bg-green;
  }


  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &--weight-loss {
    &::after {
      width: 35px;
      height: 49px;
      top: 22px;
      left: 30px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &--weight-gain {
    &::after {
      width: 67px;
      height: 28px;
      top: 35px;
      left: 13px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.purpose__title {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 72px;
  color: $text-black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 37.02px;
}

.purpose__text {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid $border-light-gray;
  color: $text-dark-gray;
  font-size: 14px;
  line-height: 18px;
}

.purpose__link {
  display: flex;
  align-items: center;
  color: $text-black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }

  &::after {
    display: block;
    margin-left: 12px;
    width: 33px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
  }

  &:hover,
  &:focus {
    &::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }
}


@media ($tablet-width) {
  .purpose__wrapper {
    padding: 0 30px;
    min-width: 768px;
  }

  .purpose__item {
    margin-bottom: 30px;
    padding-top: 80px;
    padding-right: 285px;
    padding-bottom: 60px;
    padding-left: 52px;

    &::before {
      width: 200px;
      height: 200px;
      top: 92px;
      left: auto;
      right: 61px;
    }

    &--weight-loss {
      &::after {
        width: 140px;
        height: 194px;
        left: auto;
        top: 80px;
        right: 92px;
      }
    }

    &--weight-gain {
      padding-right: 316px;

      &::after {
        width: 268px;
        height: 112px;
        top: 135px;
        left: auto;
        right: 28px;
      }
    }
  }

  .purpose__title {
    padding-left: 0;
    font-size: 36px;
  }

  .purpose__text {
    margin-bottom: 60px;
    padding: 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }

  .purpose__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 25px;
    }
  }
}


@media ($desktop-width) {
  .purpose__wrapper {
    padding: 0 40px;
    width: 1300px;
  }

  .purpose__list {
    display: flex;
    justify-content: space-between;
  }

  .purpose__item {
    margin-bottom: 0;
    padding-right: 52px;
    width: 570px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
      right: auto;
    }

    &--weight-loss {
      &::after {
        width: 70px;
        height: 97px;
        left: 66px;
        top: 41px;
        right: 92px;
      }
    }

    &--weight-gain {
      &::after {
        width: 134px;
        height: 56px;
        top: 69px;
        left: 34px;
        right: auto;
      }
    }
  }

  .purpose__title {
    margin-bottom: 75px;
    padding-left: 165px;
  }

  .purpose__text {
    margin-bottom: 35px;
  }
}
