.section-title {
  margin: 0;
  color: $text-black;
  font-weight: 400;
  font-size: 36px;
  font-family: $primary-font;
  line-height: 60px;
}

@media (min-width: $tablet-width) {
  .section-title {
    font-size: 60px;
  }
}
