// site-nav
.site-nav {
  color: #111111;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
}

.site-nav__link {
  display: block;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  border-bottom: 1px solid #e6e6e6;
  color: #111111;
  text-align: center;
  text-decoration: none;
}

.site-nav__link[href]:hover,
.site-nav__link[href]:focus {
  opacity: 0.6;
}

.site-nav__link[href]:active {
  opacity: 0.3;
}

@media ($tablet-width) {
  .site-nav {
    display: flex;
    color: #222222;
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 24.86px;
  }

  .site-nav__link {
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 8px;
    padding-left: 0;
    border-bottom: none;
    color: #222222;
    text-align: center;
  }

  .site-nav__link--current {
    border-bottom: 2px solid #68b738;
  }

  .site-nav__item {
    margin-right: 37px;
  }

  .site-nav__item:last-child {
    margin-right: 0;
  }
}

@media ($desktop-width) {
  .site-nav {
    font-size: 20px;
    font-family: "Oswald", "Arial", sans-serif;
  }
}
