.site-nav {
  padding: 0;
  color: $text-black;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  font-family: $primary-font;
  line-height: 20px;
}

.site-nav__link {
  display: block;
  padding-top: 23px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  border-bottom: 1px solid $border-light-light-gray;
  color: $text-black;
  text-align: center;
  text-decoration: none;

  &[href] {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}


@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: $text-light-black;
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    font-family: $primary-font;
    line-height: 25px;
  }

  .site-nav__link {
    padding: 0;
    border-bottom: none;
    color: $text-light-black;
    text-align: center;
  }

  .site-nav__item {
    margin-right: 35.4px;
    padding-bottom: 7px;

    &--current {
      border-bottom: 2px solid $bg-green;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    font-size: 20px;
    font-family: $primary-font;


    &--white-text {
      color: $white;

      .site-nav__link {
        color: $white;
      }

      .site-nav__item {
        &--current {
          border-bottom-color: $white;
        }
      }
    }
  }

  .site-nav__item {
    margin-right: 34.5px;
  }
}
