// variables
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1300px";
$retina-dppx: 1.5dppx;
$bg-green:#68b738;
$bg-gree-dark:#5eaa2f;
$bg-green-index-page:#63a73a;
$bg-gray:#f2f2f2;
$bg-gray-dark:#dcdcdc;
$bg-gray-onemore:#eaeaea;
$white:#ffffff;
$black:#000000;
$dark-gray: #666666;
$bg-light-gray:#ebebeb;
$text-black: #111111;
$text-light-black:#222222;
$text-dark-gray: #444444;
$border-gray-darker:#bababa;
$border-gray:#cdcdcd;
$border-gray-light:#ededed;
$border-light-gray:#dadada;
$border-light-light-gray:#e6e6e6;
